.outerclass{
    width:100%;
    max-width: 500px;
    padding: 15px;
    border:1px solid black;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin:auto 500px;
}

.innerclass{
    margin-bottom: 10px;
    border:1px solid black;
    border-radius: 5px;
    background-color: azure;
}
.btnclass{
    width:100%;
    padding:15px;
    text-align: left;
    background-color: rgb(238, 233, 228);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}
.contentclass{
    width:fit-content;
    padding: 10px;
    height:100px;
    background-color: azure;
    font-size: 1.0rem;
}


